.load-block {
  display: none;
}

.load-block.loading {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #FEFEFE;
}

.load-block.loading+* {
  visibility: hidden;
}

.load-block.loading>.load-indicator {
  height: 0.5rem;
  width: 99%;
  background-color: #FD7400;
  animation: indicate 0.3s cubic-bezier(0.3, 1, 0.8, 0.1), 0.1s;
}

@keyframes indicate {
  0% {width: 0;}
  100% {width: 99%;}
}