* {
  user-select: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
}

body {
  max-width: 600px!important;
  margin: 0 auto;
}

body>* {
  width: 100%;
}

#container {
  height: 100%;
  padding: 1em;
}

.spframe {
  width: 100%;
  height: calc(100% - 6rem);
  border: 0;
}

.headerMenu {
  display: table;
  z-index: 10;
  top: 0px;
  width: 100%;
  max-width: 600px;
  height: 3rem;
  background-color: #3D466D;
  table-layout: fixed;
  box-sizing: border-box;
  padding: 0 0.5rem;
}

.headerMenu li {
  display: table-cell;
  color: white;
  vertical-align: middle;
  width: 3rem;
}

.headerMenu img {
  height: 2.7rem;
  width: auto;
  text-align: center;
  vertical-align: bottom;
}

.headerMenu .back {
  text-align: left;
  width: 25%;
  width: 6rem;
}


.headerMenu .title {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
  width: calc(100% - 9rem);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}



.footerMenu {
  display: table;
  z-index: 10;
  position: fixed;
  bottom: 0px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 3rem;
  background-color: #F8F8F8;
  list-style: none;
  border-top: solid 2px #E2E2E2;
}

.footerMenu li {
  display: table-cell;
  width: 25%;
  vertical-align: middle;
}

.footerMenu .footerbutton img {
  height: 20px;
  width: auto;
}

.footerMenu .footerbutton p {
  font-size: 0.75rem;
  color: #959595;
  line-height: 1em;
}

.footerMenu .footerbutton p.forcus {
  color: #fb6717;
}

.footerMenu .menu {
  position: absolute;
  bottom: 60px;
  left: -2px;
}

.footerMenu .menu img {
  width: 4rem;
  height: 4rem;
}